
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
				<p>
					5th Avenue st, manhattan<br>
					New York, NY 10001
				</p>
				<p>Bize ulaşın: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Hızlı Erişim Linkleri</h4>
				<ul>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">Filmler</a></li>
					<li><a href="#">Diziler</a></li>
					<li><a href="#">Bize yazın</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Kvkk</h4>
				<ul>
					<li><a href="#">Kullanım şartları</a></li>
					<li><a href="#">Gizlilik Politikası</a></li>
					<li><a href="#">Güvenlik</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Hesabım</h4>
				<ul>
					<li><a href="#">Profilim</a></li>
					<li><a href="#">İzleme Listem</a></li>
					<li><a href="#">Kolleksiyonlarım</a></li>
					<li><a href="#">Kullanım Klavuzu</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>E-Mail listesi</h4>
				<p>Son çıkan film ve dizilerden haberdar olmak<br> için hemen abone olun!.</p>
				<form action="#">
					<input type="text" placeholder="E-Mail adresiniz...">
				</form>
				<a href="#" class="btn">Şimdi Abone Ol <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Yukarıya dön  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>